app-header {
    position: fixed;
    width: 100%;
    top: 0px;
    height: 4em;
    z-index: 2;
}

main {
    margin-top: 64px;
    width: 55px;
    z-index: 1;
    height: 690px;
    border-top: 1px solid white;
    background-color: rgba(33, 37, 41, 1);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
    transition: width 300ms ease-in;
}

footer {
    border-top: 1px solid white;
    width: 100%;
    text-align: center;
    line-height: 58px;
    height: 59px;
    background-color: rgba(33, 37, 41, 1);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
    color: white;
}

.app-side-nav-open {
    width: 150px;
}

