<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Employee Deletion</h4>
  <button type="button" class="btn-close" aria-label="Close button" aria-describedby="modal-title" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <p><strong>Are you sure you want to delete Employee <span class="text-primary">{{action.employeeId}} ?</span></strong></p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss('cancel click')">Cancel</button>
  <button type="button" ngbAutofocus class="btn btn-danger" (click)="deleteEmployeeOnClick()">Ok</button>
</div>
